In [31]:
n= int(input("num of processor: "))
proc = []

for i in range(n):
  pid = int(input(f"process num: "))
  pid=i+1
  at = int(input(f"arrival time for process {pid}: "))
  bt = int(input(f"burst time for process {pid}: "))
  proc.append({"pid": pid,"at": at, "bt": bt})
proc.sort(key=lambda x: x["at"])
t = 0
ex_order = []
curr_proc = {}
ex_process=0
while (ex_process < n):
  arr_process = [p for p in proc if p["at"] <= t and "ct" not in p]
  arr_process.sort(key=lambda x: x['bt'])
  currt_proc = arr_process[0]
  t += currt_proc['bt']
  currt_proc['ct'] = t
  currt_proc['tat'] = t-currt_proc['at']
  currt_proc['wt']= currt_proc['tat']-currt_proc['bt']
  ex_process += 1
  ex_order.append(currt_proc['pid'])
avg_tat = sum(p['tat'] for p in proc)/n
avg_wt = sum(p['wt'] for p in proc)/n

print("\nPID  |  AT  | BT | CT | TAT | WT")
for p in sorted (proc, key=lambda x: x["pid"]):
  print(f"{p['pid']} | {p['at']} | {p['bt']} | {p['ct']} | {p['tat']} | {p['wt']}")

print("\nAverage TAT:", avg_tat)
print("Average WT:", avg_wt)

num of processor: 4
process num: 1
arrival time for process 1: 0
burst time for process 1: 6
process num: 2
arrival time for process 2: 1
burst time for process 2: 8
process num: 3
arrival time for process 3: 2
burst time for process 3: 7
process num: 4
arrival time for process 4: 3
burst time for process 4: 3

PID  |  AT  | BT | CT | TAT | WT
1 | 0 | 6 | 6 | 6 | 0
2 | 1 | 8 | 24 | 23 | 15
3 | 2 | 7 | 16 | 14 | 7
4 | 3 | 3 | 9 | 6 | 3

Average TAT: 12.25
Average WT: 6.25

In [33]:
req_seq = []
n = int(input("num of request seq: "))
for i in range (n):
  req_seq.append(int(input(f'request seq{i+1} : ')))
cur_head = int(input("head: "))
seek = 0
req_seq.sort()
while req_seq:
  dist = {req: abs(req - cur_head) for req in req_seq}
  min_dist = min(dist, key=dist.get)
  seek += dist[min_dist]
  req_seq.remove(min_dist)
  cur_head = min_dist
print("Total seek operation: ",seek)

num of request seq: 8
request seq1 : 98
request seq2 : 183
request seq3 : 37
request seq4 : 122
request seq5 : 14
request seq6 : 124
request seq7 : 65
request seq8 : 67
head: 53
Total seek operation:  236